/* General reset and layout styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fcfcfc;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header h2 {
    color: #5b3317;
    margin-bottom: 30px; 
}

#icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
    padding: 30px; 
    margin-bottom: 30px; 
}

.nut-icon {
    width: 150px;
    height: auto;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.1));
}


#icon-hazelnut:hover {
    transform: rotate(15deg);
    filter: saturate(200%);
}


#icon-almond:hover {
    transform: scale(1.2);
    filter: invert(1);
}


#icon-pecan:hover {
    transform: translateY(-15px);
    filter: drop-shadow(0 15px 5px rgba(0,0,0,0.3));
}

footer {
    margin-top: 30px; 
    font-size: 14px; 
    color: #777;
}